[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/commentary"]
	path = vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/eunuch"]
	path = vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/bundle/fish"]
	path = vim/bundle/fish
	url = https://github.com/dag/vim-fish.git
[submodule "vim/bundle/flagship"]
	path = vim/bundle/flagship
	url = https://github.com/tpope/vim-flagship.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/opencl"]
	path = vim/bundle/opencl
	url = https://github.com/petRUShka/vim-opencl.git
[submodule "vim/bundle/repeat"]
	path = vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/rust"]
	path = vim/bundle/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/bundle/sensible"]
	path = vim/bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/bundle/unimpaired"]
	path = vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/vinegar"]
	path = vim/bundle/vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule "vim/bundle/SameSyntaxMotion"]
	path = vim/bundle/SameSyntaxMotion
	url = https://github.com/inkarkat/vim-SameSyntaxMotion.git
[submodule "vim/bundle/ingo-library"]
	path = vim/bundle/ingo-library
	url = https://github.com/inkarkat/vim-ingo-library
[submodule "vim/bundle/CountJump"]
	path = vim/bundle/CountJump
	url = https://github.com/inkarkat/vim-CountJump.git
[submodule "vim/bundle/todo.txt"]
	path = vim/bundle/todo.txt
	url = https://github.com/freitass/todo.txt-vim.git
[submodule "vim/bundle/ledger"]
	path = vim/bundle/ledger
	url = https://github.com/ledger/vim-ledger.git
[submodule "bin/git-reparent"]
	path = bin/git-reparent
	url = https://github.com/MarkLodato/git-reparent.git
